
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-nav li {
  float: right;
  background-color: #ffffff;
}

.left-footer li {
  float: left;
}

.left-footer ul {
  background-color: #f2f2f2 ;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#logo {
  padding-top: 80px;
  text-align: center;
}

#search {
  width: 400px;
  margin: 50px auto;
}

#search-box {
  padding: 8px 15px;
  border:0 px solid #dbdbdb;
  width: 100%;
  text-align: left;
}

.search-button {
  position: relative;
  text-align: center;
}

#google-search, #feeling-lucky {
  padding: 0 16px;
  margin: 30px 5px;
  height: 36px;
  line-height: 27px;
  font-weight: bold;
  font-size: 13px;
}

a, p {
  font: 'Arial';
  font-family: sans-serif;
  text-align: center;
  font-size: small;
}
